@import '../_vars';
@import '_m';

.row {
	&:after {
		@extend .clearfix;
	}
}
[class*="col-"] {
	float: left;
}
.g-mb-10 {
	margin-bottom: $spacer * 10;
}
.g-mb-8 {
	margin-bottom: $spacer * 8;
}
.g-mb-6 {
	margin-bottom: $spacer * 6;
}
.g-mb-4 {
	margin-bottom: $spacer * 4;
}
