@import '../_vars';
@import '_m';

.row {
	&:after {
		@extend .clearfix;
	}
}
[class*="col-"] {
	float: left;
}
@for $i from 1 through 10 {
	@include be() {
		.g-mb-#{$i} {
	 	   margin-bottom: $spacer * $i !important;
	    }
	}
}
@for $i from 1 through 10 {
	@include ab() {
		.g-mb-ab-#{$i} {
	 	   margin-bottom: $spacer * $i !important;
	    }
	}
}
