@font-face {
  font-family: 'Proxima Nova Lt';
  src: url('Mark Simonson - Proxima Nova Semibold.eot'); /* IE9 Compat Modes */
  src: url('Mark Simonson - Proxima Nova Semibold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('Mark Simonson - Proxima Nova Semibold.woff') format('woff'), /* Modern Browsers */
       url('Mark Simonson - Proxima Nova Semibold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('Mark Simonson - Proxima Nova Semibold.svg#67a6c9f6d7dc8f35ecb08de766ea56f0') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  700;
}

