.c-land-content {
    &--up {
        margin-top: -$content-up;
    }
    h2 {
        max-width: 50%;
        font-size: $f1;
    }
    h3 {
        font-size: $f2;
        padding-left: $content-padding-left;
    }
    img {
        max-width: 100%;
    }
    &:after {
        @extend .clearfix;
    }
    &__item {
        float: left;
        width: 100%;
        &--half {
            width: 50%;
        }
        &--big {
            width: 55%;
        }
        &--small {
            width: 45%;
        }
        &--padding-left {
            padding-left: $content-padding-left;
        }
    }
}
*[class*="c-land-content"] {
    border: 1px solid black;
}
