.c-land-content {
    color: $text-color;
    &:last-child {
        h2 {
            margin-bottom: 0;
        }
    }
    &--up {
        top: -$content-up;
        @include ab() {
            top: $content-up-mob;
        }
    }
    &.is-hidden {
        display: none;
    }
    h2 {
        font-family: $proximaNovaLt;
        font-weight: 200;
        font-size: $f1;
        max-width: 50%;
        @include ab() {
            max-width: 100%;
            margin-bottom: 40px;
        }
        @include a1() {
            font-size: $f1 - 0.3;
        }
    }
    h3 {
        font-family: $proximaNovaSemibold;
        font-size: $f2;
        margin-bottom: 30px;
        @extend .content-padding-left;
    }
    img {
        max-width: 100%;
    }
    &:after {
        @extend .clearfix;
    }
    &__item {
        float: left;
        width: 100%;
        &--half {
            width: 50%;
        }
        &--big {
            width: 55%;
            @include ac() {
                width: 50%;
            }
            @include ab() {
                width: 100%;
            }
        }
        &--small {
            width: 45%;
            @include ac() {
                width: 50%;
            }
            @include ab() {
                width: 100%;
            }
        }
        &--padding-left {
            @extend .content-padding-left;
        }
    }
}
*[class*="c-land-content"] {
    //border: 1px solid black;
}
