.c-land-block {
    padding-bottom: $block-padding-bottom;
    &__center {
        @extend .c;
    }
    &__inner {
        position: relative;
    }
    &__triangle {
        $height: 100px;
        position: absolute;
        top: 1px;
        height: $height;
        width: 100%;
        margin-top: -$height;
        img {
            max-width: 100%;
            height: 100%;
            width: 100%;
        }
    }
    &--header {
        padding-bottom: 0;
        background-repeat: no-repeat;
        background-position: top center;
        background-size: cover;
        &:before {
            content: '';
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            opacity: 0.64;
            background-image: linear-gradient(307deg, rgba(0, 0, 0, 0), #1d3572);;
        }
        .c-land-block {
            &__inner {
                min-height: 400px;
            }
        }
    }
    &--above-footer {
        padding-bottom: $block-padding-bottom-small;
    }
    &--footer {
        padding-top: 20px;
        padding-bottom: 20px;
        .c-land-block {
            &__inner {
                min-height: auto;
            }
        }
        p {
            font-size: $f4;
        }
    }
    &--grey {
        background-color: $block-bg-grey;
    }
}
*[class*="c-land-block"] {
    //border: 1px solid pink;
}
