.l-logo-wrap {
    &.c-land-content {
        font-size: 0;
        padding-top: 40px;
    }
}
.l-top-circle-wrap {
    &.c-land-content {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        img {
            position: absolute;
            right: 0;
            bottom: -$circle-down;
            border-radius: 200px;
            @include ad() {
        		width: 250px;
        	}
            @include ab() {
                width: 30%;
            }
        }
    }
}
.l-h2-wrap-right {
    h2 {
        float: right;
        text-align: right;
    }
}
.l-h2-wrap-big {
    h2 {
        max-width: 100%;
    }
}
.l-button-right {
    text-align: right;
}
.l-top-group-mobile {
    @include ab() {
        .c-land-content__item:nth-child(1) {
            width: 70%;
        }
        .sb-description {
            padding-top: 20px;
        }
    }
}
